.Form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form input[type="text"] {
  height: 40px;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  min-width: 80%;
}

.Form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #f04c54;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  transition: all 300ms ease-in-out;
}

.Form button[type="submit"]:hover {
  background: #c71218;
}
